@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  width: 100vw;
  height: 10vh;
  padding: 12px 16px;
  background-color: #EBEEE8;
}
nav .logo1 {
  width: 20vw;
  height: auto;
  flex-shrink: 0;
  margin-left: 35vw;
}
nav .logo2 {
  width: 18vw;
}
nav .offcanvas {
  background-color: #F5F3F1;
}
nav .lineaSeparadora {
  background-color: #0D0D0D;
  width: 161px;
  height: 2px;
}
nav .logoLinea {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}
nav ul li {
  color: #0D0D0D;
  text-align: right;
}

/* font-family: 'Inter', sans-serif*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wDisplayL {
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.wDisplayM {
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.wDisplayS {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.wTextL {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wTextM {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wTextS {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wHeadlineL {
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wHeadlineM {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wHeadlineS {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wLabelL {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.5px;
}

.wLabelM {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.5px;
}

.wLabelS {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.5px;
}

.mDisplayS {
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.mHeadlinel {
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.mHeadlineM {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.mHeadlineS {
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.mTitleL {
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.mTitleM {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.mTitleS {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.mBodyM {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mBodyS {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mLabelL {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.5px;
}

.MLabelM {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.5px;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.white {
  color: #FAFAFA;
}

.underlined {
  -webkit-text-decoration: underline 3px;
          text-decoration: underline 3px;
}

.stretch {
  align-self: stretch;
}

.w-80 {
  width: 80vw;
}

.contacto {
  position: fixed;
  height: 60px;
  width: 60px;
  background-color: #009939;
  bottom: 40px;
  right: 40px;
  text-align: center;
  padding-top: 10px;
  border-radius: 30px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 1000;
}

#inicio {
  padding-top: 10vh;
  background-color: #EBEEE8;
}
#inicio .inicio-slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 30px;
}
#inicio .inicio-slogan .backInicio {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100vw;
  height: 458px;
  flex-shrink: 0;
  background-image: url(../img/portadaMobile.png);
}
#inicio .inicio-slogan .backInicio .boton {
  display: inline-flex;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #0D0D0D;
  color: #fafafa;
  text-align: center;
  text-wrap: nowrap;
}

#nuestrasPrendas {
  display: flex;
  width: 100vw;
  padding: 32px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  background-color: #FFFFFF;
}
#nuestrasPrendas .titulos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
#nuestrasPrendas .container {
  display: flex;
  width: 90vw;
  align-items: flex-start;
  gap: 24px;
}
#nuestrasPrendas .container #carouselExample {
  display: flex;
  flex-direction: column;
}
#nuestrasPrendas .container #carouselExample figure {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}
#nuestrasPrendas .container #carouselExample .capa {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 768px) {
  #nuestrasPrendas .container #carouselExample .capa {
    display: none;
  }
}
#nuestrasPrendas .container #carouselExample .capa .botonImagen {
  position: static;
  width: 70%;
  top: 20vh;
  left: 4vw;
}
#nuestrasPrendas .container #carouselExample .capa .textoImagen {
  color: #FFF;
  position: absolute;
  top: 15vh;
  left: 8vw;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 2rem;
}
@media (max-width: 992px) {
  #nuestrasPrendas .container #carouselExample .capa .textoImagen {
    font-size: 1rem;
    font-weight: 400;
  }
}
#nuestrasPrendas .container #carouselExample figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}
#nuestrasPrendas .container #carouselExample .carousel-control-next {
  width: 28px;
  height: 28px;
  position: absolute;
  right: -14px;
  top: 70px;
  fill: #FAFAFA;
  filter: drop-shadow(8px 8px 35px rgba(0, 0, 0, 0.15));
}
#nuestrasPrendas .container #carouselExample .irATienda {
  display: flex;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  background-color: #0D0D0D;
}
#nuestrasPrendas .container #carouselExample .irATienda .textIrATienda {
  color: #FAFAFA;
}
#nuestrasPrendas .container #carouselExample .rounded-indicators li {
  list-style: none;
  display: inline-block;
  background-color: #0D0D0D;
  width: 8px;
  height: 8px;
  margin: 5%;
  border-radius: 32px;
  opacity: 0.6;
  transition: 0.3s ease-in-out;
}
#nuestrasPrendas .container #carouselExample .rounded-indicators li .active {
  opacity: 1;
}

#verMas .vermas-prenda {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 24px;
  background-color: #FAFAFA;
  border-radius: 4px;
}
#verMas .vermas-prenda img {
  width: 90vw;
  padding-left: 5vw;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  transition: all 500ms ease-out;
}

#somos {
  background-color: #f5f3f1;
  display: flex;
  padding-top: 10vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
#somos .quienes {
  display: flex;
  width: 81.8vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4vh;
}
#somos .servicios {
  margin: 10vw;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 8px 8px 35px 0px rgba(0, 0, 0, 0.3);
}
#somos .servicios .servicio {
  display: flex;
  flex-direction: column;
  padding: 24px 24px;
  border-radius: 8px;
  background: #FAFAFA;
  box-shadow: 4px 8px 50px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 4vh;
  align-items: center;
  gap: 4.8vw;
  align-self: stretch;
}
#somos .servicios .servicio .imagen {
  background-color: #d5171f;
  display: flex;
  width: 64px;
  height: 64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 8px 8px 35px 0px rgba(0, 0, 0, 0.15);
}
#somos .servicios .servicio .imagen img {
  color: #FAFAFA;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
#somos .banner-somos {
  background-image: url("../img/image-25mobile.png");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-left: 10vw;
  padding-top: 14vh;
  gap: 5vh;
}
#somos .banner-somos .boton {
  background-color: #0D0D0D;
  width: 80vw;
  display: flex;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

#carouselCommentarios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
  background: #FAFAFA;
}
#carouselCommentarios .contenedorCarousel {
  width: 80vw;
  height: 90vh;
  border-radius: 4px;
  background-color: #FAFAFA;
  box-shadow: 8px 8px 35px 0px rgba(0, 0, 0, 0.15);
}
#carouselCommentarios .contenedorCarousel .comillas {
  margin-left: 32vw;
  margin-top: 10vh;
  margin-bottom: 5vh;
  width: 15vw;
  color: #0D0D0D;
  align-self: center;
}
#carouselCommentarios .contenedorCarousel #carouselExampleDark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  height: 60vh;
  border-radius: 12px;
  background: #FAFAFA;
  gap: 40px;
  /* elevacion */
  box-shadow: 8px 8px 35px 0px rgba(0, 0, 0, 0.15);
}
#carouselCommentarios .contenedorCarousel #carouselExampleDark .rounded-indicators {
  list-style: none;
  padding: 0;
}
#carouselCommentarios .contenedorCarousel #carouselExampleDark .rounded-indicators button {
  display: inline-block;
  background-color: #0D0D0D;
  height: 8px;
  width: 8px;
  margin-right: 4vw;
  border-radius: 50%;
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}
#carouselCommentarios .contenedorCarousel #carouselExampleDark .rounded-indicators button.active {
  opacity: 1;
}
#carouselCommentarios .contenedorCarousel #carouselExampleDark .carousel-inner {
  margin-top: 8vh;
  display: flex;
  width: 80vw;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 80vw;
  flex-shrink: 0;
  align-self: stretch;
}
#carouselCommentarios .contenedorCarousel #carouselExampleDark .carousel-inner .carousel-item {
  flex-direction: column;
  width: 80vw;
  height: 50vh;
  gap: 10px;
}
#carouselCommentarios .contenedorCarousel #carouselExampleDark .carousel-inner .carousel-item .estrellas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5vw;
}
#carouselCommentarios .contenedorCarousel #carouselExampleDark .carousel-inner .carousel-caption {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

#compromiso {
  background-image: url(../img/image-24mobile.png);
  height: 60vh;
  width: 100vw;
}
#compromiso .compromiso {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 35px 16px;
  display: flex;
  width: 100vw;
  height: 60vh;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
}
#compromiso img {
  width: 100vw;
  height: 88vh;
}

#visitanos {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5vw;
  margin-right: 5vw;
  padding-block: 30px;
  justify-content: center;
  gap: 48px;
}
#visitanos iframe {
  width: 90vw;
  height: 100vh;
}
@media (min-width: 768px) {
  #visitanos {
    flex-direction: row;
    padding-block: 120px;
  }
}
#visitanos .mapa h1 {
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.info-visitanos {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
@media (max-width: 768px) {
  .info-visitanos {
    gap: 1vh;
  }
}
.info-visitanos h4 {
  font-size: 1.125rem;
  padding-bottom: 0.3rem;
  font-weight: 500;
}
.info-visitanos .visit-redes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.info-visitanos .visit-redes .red {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.info-visitanos .visit-redes .red i {
  font-size: 1.5rem;
  line-height: 0.5;
}
@media (min-width: 768px) {
  .info-visitanos .visit-redes .red i {
    font-size: 2rem;
  }
}
.info-visitanos .visit-redes .red p {
  font-size: 1.125rem;
  font-weight: 800;
}
@media (max-width: 768px) {
  .info-visitanos .visit-redes .red p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0.5;
  }
}

.footer {
  background: #0D0D0D;
  display: flex;
  width: 100vw;
  padding: 48px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .footer {
    padding-block: 10vh;
    padding-inline: 10vw;
  }
}
.footer .footer-arriba {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.footer .footer-arriba img {
  width: 13vw;
  height: 6vh;
}
.footer .footer-arriba .direccion {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer .footer-arriba .footer-menu .footer-lista {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  align-items: flex-start;
  padding-left: 0px;
}
.footer .footer-arriba .footer-menu .footer-lista a {
  color: #ffffff;
  font-size: 0.75rem;
  font-style: normal;
  letter-spacing: 0.5px;
  -webkit-text-decoration: transparent;
          text-decoration: transparent;
}
@media (min-width: 768px) {
  .footer .footer-arriba .footer-menu .footer-lista a {
    font-size: 2rem;
  }
}
.footer .separador {
  width: 100vw;
}
.footer .footer-abajo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 32px;
}
.footer .footer-abajo .redes {
  display: flex;
  flex-direction: row;
  padding-top: 4.5vh;
  gap: 24px;
}
.footer .footer-abajo .redes a {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 3px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */