#carouselCommentarios{
    display: flex; 
    flex-direction: column;
    justify-content: center;   
    align-items: center;
    gap: 10vh;
    background: #FAFAFA;
    .contenedorCarousel{
        width:80vw;
        height: 90vh;
        border-radius: 4px;
        background-color: #FAFAFA;
        box-shadow: 8px 8px 35px 0px rgba(0, 0, 0, 0.15);
        .comillas{
            margin-left: 32vw;
            margin-top: 10vh;
            margin-bottom: 5vh;
            width: 15vw;
            color:$black;
            align-self: center;
        }
        

    #carouselExampleDark{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 80vw;
      height: 60vh;
      border-radius: 12px;
      background: #FAFAFA;
      gap: 40px;
      /* elevacion */
      box-shadow: 8px 8px 35px 0px rgba(0, 0, 0, 0.15);

      
          .rounded-indicators {
              list-style: none;
              padding: 0;
              
              button {
                display: inline-block;
                background-color: $black;
                height: 8px;
                width: 8px;
                margin-right: 4vw;
                border-radius: 50%;
                opacity: 0.5;
                transition: 0.3s ease-in-out;
              }
            
              button.active {
                opacity: 1;
              }
            }
            .carousel-inner{
              margin-top: 8vh;
              display: flex;
              width: 80vw;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              gap: 80vw;
          
              flex-shrink: 0;
              align-self: stretch;

              .carousel-item{
                // display: flex;
                flex-direction: column;
                width: 80vw;
                height:50vh;
                gap: 10px;
                
                
                  .estrellas{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 1.5vw;
                  }
                  
              }
              .carousel-caption{
                
                display: flex;
                flex-direction: column;
                width: 60vw;
                
              
              }  
              
            }
    }
    }
}   