#carouselCommentarios{
    display: inline-flex; 
    flex-direction: column;
    justify-content: center;   
    align-items: center;
    gap: 48px;
    background: #FAFAFA;
    .contenedorCarousel{
        width:80vw;
        height: 60vh;
        border-radius: 4px;
        background-color: #FAFAFA;
        box-shadow: 8px 8px 35px 0px rgba(0, 0, 0, 0.15);
        // .comillas{
        //     margin-top: 10vh;
        //     margin-bottom: 5vh;
        //     width: 1vw;
        //     color:$black;
        //     align-self: center;
        // }
        

    #carouselExampleDark{
      width: 80vw;
      height: 60vh;
      border-radius: 12px;
      background: #FAFAFA;
      /* elevacion */
      box-shadow: 8px 8px 35px 0px rgba(0, 0, 0, 0.15);

      
          .rounded-indicators {
              list-style: none;
              padding: 0;
              
              button {
                display: inline-block;
                background-color: #0D0D0D;
                height: 1vh;
                width: 3vw;
                margin-right: 4vw;
                border-radius: 50%;
                opacity: 0.5;
                transition: 0.3s ease-in-out;
              }
            
              button.active {
                opacity: 1;
              }
            }
            .carousel-inner{
              display: flex;
              width: 80vw;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 80vw;
              flex-shrink: 0;
              align-self: stretch;

              .carousel-item{
                
                width: 80vw;
                height:50vh;
                
                  .estrellas{
                    margin-top: 3vh;
                    margin-bottom: 3vh;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 1.5vw;
                  }
                  
              }
              .carousel-caption{
                
                display: flex;
                flex-direction: column;
                width: 60vw;
                      
                .textoComentario{
                   
                  color: var(--highlight-texto-secundario, #515151);
                  text-align: center;
                  font-family: Inter;
                  font-size: 1.3rem;
                  font-style: normal;
                  font-weight: 600;
                  line-height: normal;
                  @media (max-width:768px) {
                    font-size: 1rem ;
                    margin-top: 4rem;
                   
                  }
                }
          
                .nroComentario{
                  color: var(--highlight-texto-secundario, #515151);
                  text-align: center;
                  /* web/text/medium */
                  font-family: Inter;
                  font-size: 1.12rem;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;

                }
              }  
              
            }
    }
    }
}   