#compromiso {
    background-image: url(../img/image-24mobile.png);
    height: 60vh;
    width: 100vw;
    
    
    
    .compromiso {
        background-color: rgba(0,0,0,0.5);
        padding: 35px 16px;
        display: flex;
        width: 100vw;
        height: 60vh;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 24px;
        flex-shrink: 0;
        
         
    }
    img {
      width: 100vw;
      height: 88vh;
     
    }  
   
  
}